{% extends "base.html" %}

{% load staticfiles %}
{% block title %}
	CheckOut
{% endblock %}

{% block content %}
<div id="checkout">
	<h1> Checkout</h1>
	<div id="container">
	<div class="order-info">
		<h3> Your order </h3>
		<ul style="width:100%;>
			{% for item in cart %}
			<li style="width:100%;">
				 {{item.product.name}}  x  {{item.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span style="align-self:right;" align="right"> ${{item.total_price}}</span>
			</li>
			{% endfor %}
		</ul>
		<p> Total:${{cart.get_total_price}}</p>
	</div>
	<form action="." method="post" class="order-form">
		{{form.as_p}}
		<p><input type="submit" value="Place order"></p>
		{% csrf_token %}
	</form>
</div>

</div>
{% endblock %}